<footer class="footer">
    <div class="footer_links">
        <div class="footer__text">
            Контакты
        </div>

        <hr class="footer__line main__line">
        <nav class="footer_social_media_links">
            <a href="https://vk.com/l_shev" target="_blank" class="vk"><img class="footer_logo_pic" src="/images/vk.svg" alt=""></a>
            <a href="https://t.me/kiyikmyy" target="_blank" class="tg"><img class="footer_logo_pic" src="/images/telegram.svg" alt=""></a>
            <a href="" class="inst"><img class="footer_logo_pic" src="/images/instagram.svg" alt=""></a>
            <a href="" class="fb"><img class="footer_logo_pic" src="/images/facebook.svg" alt=""></a>
        </nav>
    </div>
    <div class="footer__load_stat">
        <p id="id345" class="footer__time"></p>
    </div>
</footer>