<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    {{> shared_scripts}}
    {{> style_bundles}}
    <meta
            name = "description"
            content = "Вас ждут различные тематические тесты: образовательные, психологические,
                   развлекательные, тесты на IQ и многие другие. Испытайте себя!" />
    <title>{{ title }}</title>
</head>
<body>
    {{> header}}
    {{{body}}}
    {{> footer}}
</body>
<html>