<link rel="stylesheet" href="/css/login.css"/>
<div class="main">
    <form method="post">
        <input type="email" id="user_email" placeholder="Enter your email" required>
        <input type="password" id="user_password" placeholder="Enter your password" required>
        <p>Don't have an account? <a href="/registration">Register here!</a></p>
        <button type="submit" onclick="login()">Log in</button>
    </form>
</div>